body {
    font-family: Arial, sans-serif;
}

.freelancers {
    width: 80%;
    margin: 0 auto;
    padding: 24px;
    background-color: #336998;
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #538343;
}

h1 {
    font-size: 20px;
}

#average-price {
    font-weight: bold;
}
